@font-face {
    font-family: 'SourceCodePro';
    src: url('/fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'SourceCodeProMedium';
    src: url('/fonts/SourceCodePro-Medium.ttf') format('truetype');
    font-weight: 500; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'SourceCodeProLight';
    src: url('/fonts/SourceCodePro-Light.ttf') format('truetype');
    font-weight: 300; /* Regular */
    font-style: normal;
}


@font-face {
    font-family: 'Monaco';
    src: url('/fonts/Monaco.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; 
}

@font-face {
    font-family: 'LatoBold';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal; 
}

@font-face {
    font-family: 'ShareTechMono';
    src: url('/fonts/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
}

@font-face {
    font-family: 'Audiowide';
    src: url('/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; /* Italic */
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; /* Italic */
}


@font-face {
    font-family: 'Exo2-Italic';
    src: url('/fonts/Exo2-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic; /* Italic */
}

@font-face {
    font-family: 'Exo2';
    src: url('/fonts/Exo2-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal; /* Normal style */
}

/* ... and so on for each font file */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900; /* Black weight */
    font-style: normal; /* Normal style */
}

/* ... continue for each Lato variant */

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('/fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
    font-weight: bold; /* Bold */
    font-style: normal; /* Normal style */
}

/* ... continue for each OpenSans Condensed variant */

@font-face {
    font-family: 'RobotoCondensed';
    src: url('/fonts/RobotoCondensed-Black.ttf') format('truetype');
    font-weight: 900; /* Black weight */
    font-style: normal; /* Normal style */
}

/* ... continue for each Roboto Condensed variant */
* {
    box-sizing: border-box; /* Better box sizing model */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset paddings */
}

button, .button-like {
    background-color: #333;
    color: #FFFFF0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .button-like:hover {
    background-color: #a1ff90; /*Matrix green on hover */
    color: #FFFFF0;
}


h1, h2 {
    color: #f6f6f6; /* Dark color for headings */
    margin-top: 0;
    font-family: "OpenSansRegular", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600; /* SemiBold for headings */
    line-height: 1.5; /* Improved line spacing for readability */
}

p {
    color: #f6f6f6; /* Dark color for paragraph text */
    margin-top: 0;
    font-family: "OpenSans-Regular", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400; /* Regular weight for paragraph text */
    line-height: 1.5; /* Consistent line spacing for readability */
    text-align: left;
    padding-left: 0;
}

body {
    background-color: rgba(17, 17, 17, 17);
    color: #f6f6f6; /* A darker shade for better readability */
    font-size: 17px;
    font-family: "OpenSans-Regular", "Helvetica Neue", Arial, sans-serif; /* A modern font stack */
    line-height: 1.5; /* Improved line spacing for readability */
    max-width: 1200px; /* Max width to control content width */
    margin: 0 auto; /* Center content on the page */
    padding: auto; /* Uniform padding */
    background-attachment: fixed;
}

header {
    background-image: url(/images/Color-logo-with-background.png);
    background-size: 85%; /* Scale the image as large as possible while maintaining aspect ratio */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the background image */
    min-height: 260px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Align children to the center of the container */
    align-items: center; /* Center children horizontally */
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    padding-top: 0;
}

.header-column {
    flex-grow: 1;
    padding: 10px;
}


.introduction-card {
    background-color: #f6f6f6; /* or any color you prefer */
    border-radius: 8px; /* rounded corners */
    box-shadow: 0 1px 4px rgba(0,0,0,0.1); /* a subtle shadow */
    padding: 20px; /* space inside the card */
    margin: 15px 0; /* space outside the card */
    margin-left: auto; /* centering the card */
    margin-right: auto;
    font-family: 'OpenSans-Regular', sans-serif; /* keeping the font consistent with the body */
    display: block; /* added to allow the card to shrink to the width of its content */
    color: rgba(17, 17, 17, 17);
    box-sizing: border-box;
    

}

.intro-section {
    width: 100%; /* Same as header to maintain the alignment */
    max-width: 1200px;
    margin: 0 auto; /* Centers the content */
    color: rgba(17, 17, 17, 17);
    box-sizing: border-box;
}

.intro-section h2 {
    width: auto; /* Same as header to maintain the alignment */
    max-width: 1200px;
    margin: 0 auto; /* Centers the content */
    color: rgba(17, 17, 17, 17);
}


.intro-section p {
    text-align: left; /* Justify the introduction paragraph */
    align-items: left;
    max-width: 1200px; /* Control the width of the paragraph */ /* Center the paragraph */
    margin: 0 auto; /* Centers the content */
    line-height: 1.6;
    color: rgba(17, 17, 17, 17);
  }
  
.intro-section body {
    color: rgba(17, 17, 17, 17);
}

.light-red {
    background-color: #f4cccc;
    /* Add any other styling you want for this class */
}

.light-orange {
    background-color: #fce5cd;
}

.light-yellow {
    background-color: #fff2cc;
}

.light-green {
    background-color: #d9ead3;
}

.light-blue {
    background-color: #c9daf8;
}

.light-purple {
    background-color: #d9d2e9;
}

.demo-wrap {
    position: relative;
}

.container-for-image {
    text-align: left; /* This will align the images inside to the left */
}

.img {
    width: 80px; /* or any size you want */
    height: auto;
    display: block; /* You can remove this if the image is inline with the text */
    margin: 0 auto 20px;
    max-width: 100%;

}

/* Add CSS for spacing using a spacer class */
.headerSpacer {
    height: 120px; /* Adjust the height as needed */
}

.css-code:before {
    content: "h1 ";
  }

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 10px 0;
    z-index: 1;
    top: 16rem; /* Add a top margin to push the tabs down */
    
}

.tab {
    color: #f6f6f6; /* off white */
    text-decoration: none; /* Remove underline from links */
    padding: 8px 16px; /* Add padding to increase clickable area */
    font-family: 'LatoBold', monospace;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.9rem; /* Adjust as needed */
    display: flex; 
    align-items: center;/* Align tabs in a line */
    justify-content: center;
    margin: 0px 20px;
    transition: all 0.2s ease; /* Smooth transition for the hover effect */
}

.tab i {
    margin-right: 7px; /* Add some space between icon and text */
}

.tab:hover, .tab.active {
    color: #ccffbd; /* Highlight color on hover and for the active tab */
    transform: translateY(-1px); /* Slightly raise the tab on hover */
}

nav a, .tab {
    color: #f6f6f6;
}

nav.tabs {
    width: 100%; /* Full width to center tabs properly */
    text-align: center; /* Center the tab links */
    background: none; /* Remove background */
    padding: 10px 20px; /* Add horizontal padding */
    z-index: 2;
}


.tab:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none; /* Hide the dropdown content by default */
    position: absolute;
    background-image: url(images/MatrixSubtle.png);
    /*background-color: #333;Dark background to match the tab aesthetic */
    min-width: 160px; /* Set a min-width if necessary */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Optional: Adds a shadow */
    z-index: 1; /* Ensure it sits on top of other elements */
    top: 100%; /* Position the dropdown below the tab item */
    border-radius: 4px;
    border-radius: 4px;
    
}
  
.dropdown-content a {
    color: #f6f6f6; /* Match the tab text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
    font-family: 'Lato', monospace;
    text-transform: none;
    border: 1px solid white;
    border-radius: 4px;
    border-radius: 4px;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #222222; /* Light background for hover */
}
  
.tab, .tab a {
    text-decoration: none;
}

html {
    overflow-y: scroll;
    font-size: 17px;
}

.container { /* The parent element of header */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    line-height: 1.5;
}
  
h2 {
    font-size: 24px; /* More prominent size for section titles */
    margin-bottom: 20px; /* Increase space below the heading */
}
.tech-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-content: center;
    align-items: start;
    margin-top: 1.5rem;
    border-radius: 20px;
    color: rgba(17, 17, 17, 17);
  }

.tech-card {
    background: #f6f6f6;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border: 1px solid black; 
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer; /* Change cursor to indicate clickable */
    position: relative; /* Positioning context for the tooltip */
}

.tech-card img {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}
  
.tech-card h3 {
    margin-bottom: 0.5rem;
    font-family: "LatoBold";
    font-size: 26px;
}
  
.tech-card p {
    color: #333;
    line-height: 1.6;
}

.tech-card::after {
    content: attr(data-tooltip); /* Use the data attribute for the tooltip */
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: #2a2a2a; /* A dark grey that stands out against the white card but is subtler against the black background */
    color: #f6f6f6; /* Pure white for high contrast and readability */
    text-align: center;
    border-radius: 6px; /* Slightly reduced border-radius for a modern look */
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    transition: opacity 0.3s, visibility 0.3s; /* Add visibility to the transition for a cleaner toggle effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25); /* A subtle shadow for depth */
    font-size: 0.875rem; /* A smaller font size for a more sophisticated look */
    line-height: 1.4; /* Improve readability */
}

.tech-card:hover::after {
    visibility: visible;
    opacity: 1; /* Show the tooltip on hover */
}

.tech-header img {
    display: inline-block; /* Keep it inline with the text */
    width: 80px; /* Slightly larger images */
    height: auto;
    vertical-align: middle; 
    margin-right: 10px;/* Aligns image to the middle of the text */
}


.tech-header h2 {
    font-size: 1.5rem; /* Increase the size of the tech title */
    text-align: center;
    
}

.tech-header h2 {
    margin-right: 10px; /* Increase the size of the tech title */
    vertical-align: middle;
    
}


.list-group-item {
    border: 1px solid #bbb;
    border-bottom: 2px solid #999;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    width: 60%;
    margin-right: 2.5%; /* Add space between the buttons */
    text-align: center;
    padding: 10px 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('images/vector2.jpg');
    background-size: cover;
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 50%, #ededed 100%);
    text-decoration: none;
}
  
.list-group {
    display: flex; /* Use flex display to place items horizontally */
    flex-direction: row; /* Arrange items in a row */
    max-width: 800px;
    margin: 20px auto;
    justify-content: center; /* Center-align the items horizontally */
}
  
.list-group-item.disabled {
    color: #cccccc;
    background: none;
    border: none;
    box-shadow: none;
    cursor: not-allowed;
}
  
.list-group-item:hover {
    background-color: #e2e6ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}
  
.list-group-item.active {
    background-color: #007bff;
    border-color: #0056b3;
    color: #fff;
}
  

/* Adding a class for the section that holds HTML, CSS, JS overviews */
.section-overview {
    padding: 20px;
    margin-bottom: 2em; /* Add space between sections */
}

/* Highlighting titles with the theme color */
.section-overview h2 {
    color: #78c978; /* Green color to tie in with the header */
    margin-bottom: 0.5em;
}

.section-overview p {
    margin-top: 0;
    text-indent: 20px; /* Indent paragraphs for a classic look */
}


.section-title th {
    text-align: center; /* Center the header text */
    font-family: "OpenSansRegular", sans-serif;
    font-weight: 600; /* Bold but not too heavy */
    color: #333; /* Solid color for better readability */
    background-color: #fff; /* White or off-white background for a clean look */
    padding: 20px; /* Adequate padding for a spacious feel */
    border-bottom: 2px solid #eaeaea; /* Light border for a subtle separation */
    font-size: 1.4em; /* Slightly larger font size for headers */
    letter-spacing: 0.5px; /* Increased letter-spacing for a modern feel */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow for depth */
    margin: 0; /* Remove default margins */
    box-sizing: border-box; /* Include padding in the width */
    line-height: 1.4; /* Adjust line height for better readability */
}

.table-title {
    font-family: "Lato", sans-serif; /* Your chosen font family */
    font-weight: bold;
    color: #f6f6f6;
    font-size: 36px; /* Adjust the font size as needed */
}

.centered-table-title {
    font-family:"Lato";
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: rgba(17, 17, 17, 17);
}

.Left-Align-table-title {
    font-family:"Lato";
    font-weight: bold;
    width: calc(100% - 30px);
    color:rgba(17, 17, 17, 17);
    margin-top: 15px; /* Match the introduction card top margin */
    margin-bottom: 15px; 
    box-sizing: border-box;
    text-align: left;
}

.Left-Align-table table {
    margin: 0 auto; /* Center the table horizontally */
    width: calc(100% - 30px);
    box-sizing: border-box;
    border-collapse: collapse; /* Optional: for a cleaner look */
}


.Left-Align-table td {
    text-align: left; /* Aligns the text to the left inside cells */
    border: 1px solid #ccc; /* Sets the border color and size */
    padding: 8px; /* Sets the padding inside the cells */
}


.header-with-image-html {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    margin-top: 50;
    margin-bottom: 20px;
    justify-content: center; /* Align items to the center horizontally */
    gap: 0;
    scale: 2;
}

.header-with-image-html h2 {
    margin-top: 0; /* Removes the top margin from the h2 element */
    margin-bottom: 0; /* Removes the bottom margin from the h2 element */
    
  
}

.header-with-image-css {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items to the center of the container */
    scale: 2;
}

.header-with-image-css h2 {
    margin-top: 0; /* Removes the top margin from the h2 element */
    margin-bottom: 0; /* Removes the bottom margin from the h2 element */
    /* Optionally, you can add some top margin to align it with the icon if needed */
}


.header-with-image-js {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items to the center of the container */
    scale: 2;
}

.header-with-image-js h2 {
    margin-top: 0; /* Removes the top margin from the h2 element */
    margin-bottom: 0; /* Removes the bottom margin from the h2 element */
    /* Optionally, you can add some top margin to align it with the icon if needed */
}


.bulletSpacing
{   
    line-height: 2.0;
}

.iconClass {
    width: 52px; /* Adjust the width as necessary */
    height: auto; /* Keep the aspect ratio of the image */
    margin: 10px;
}

.centered-table table {
    margin: 0 auto; /* Center the table horizontally */
    width: 100%; /* Adjust the width to content */
    border-collapse: collapse; /* Optional: for a cleaner look */
}

.centered-table td {
    padding: 8px 12px;
    text-align: center; /* Center the content for single-column layout */
    border: 1px solid #ccc;
}

.centered-table th, 
.centered-table td {
    text-align: left; /* Aligns the text to the left inside cells */
    border: 1px solid #ccc; /* Sets the border color and size */
    padding: 8px; /* Sets the padding inside the cells */
}

.section-headertwo {
    font-weight: bold; /* This will make the text bold */
    font-size: 1em;
    text-align: center; /* You can adjust the size as needed */
}

/* If there is a specific class or nth-child rule that targets columns, override them as well */
.centered-table tr td:first-child,
.centered-table tr td:nth-child(2) {
    text-align: center; /* Override any specific alignment for the first and second column */
}

/* If there is a specific class or nth-child rule that targets columns, override them as well */
.Left-Align-table tr td:first-child,
.Left-Align-table tr td:nth-child(2) {
    text-align: left; /* Override any specific alignment for the first and second column */
}

.active-section {
    background-color: #f6f6f6;;
}


.intro-section ul {
    /* Remove the default padding on the left which causes the indentation */
    padding-left: 0;
}

.intro-section li {
    /* Add padding or margin to the left to align with the rest of the text */
    padding-left: 40px; /* Adjust this value as needed to align with your other text */
    /* Use 'text-indent' if you want to indent the first line of each list item */
    text-indent: -20px;
    /* Optionally, set the list-style-position to 'inside' if you want the bullet points to be within the flow of the text */
    list-style-position: inside;
}

/* Override PrismJS background */
pre[class*="language-"], code[class*="language-"] {
    background: none; /* Or use the default background color of your site */
    font-family: 'Lato', sans-serif; /* Replace with your font */
}

/* Ensure strong tags within Prism's code blocks are bold */
code[class*="language-"] strong {
    font-weight: bold !important; /* Force bold regardless of specificity */
}

/* Another attempt with even higher specificity */
pre[class*="language-"] code.language-html strong {
    font-weight: bold !important;
}

/* Ensure there's no color or other property negating the bold */
code[class*="language-"] strong {
    color: #000 !important; /* Use any color that makes the text visible */
    text-decoration: none !important; /* Remove if there's any decoration */
}


strong {
    font-weight: 700; /* This will use Poppins-Bold for strong emphasis */
}

footer {
    background-color: rgba(17, 17, 17, 1);
    color: #f6f6f6;
    padding: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    opacity: .9;
    font-size: .88em;
    margin-top: 40px; /* Standardized top margin */
    margin-bottom: 20px; /* Standardized bottom margin */
}

.footer-content {
    margin-bottom: 20px; /* Standardized bottom margin, adjusted from 20px to match top margin */
    margin-top: 40px; /* Standardized top margin, adjusted to match bottom margin */
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.contact-links a {
    font-size: 0.9em;
    color: #f6f6f6; /* Maintain 100% opacity for contact links */
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: bold;
}

/* This section is for the copyright text */
footer .copyright-section {
    font-size: 0.80em;
    color: rgba(246, 246, 246, 0.5); /* 50% opacity */
    padding-top: 5px; /* Added padding to give space at the top */
    margin-top: 10px; /* Added margin to give space from the main content */
}

footer p {
    text-align: center;
}

/* Remove any additional unnecessary styles */
.copyright-section {
    opacity: .5;
}

.container {
    max-width: 1200px; /* Adjust to match the width of your content blocks */
    padding: 0 20px; /* Horizontal padding */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Allow the footer content to wrap on small screens */
    justify-content: center; /* Center the columns for a more balanced look */
    align-items: flex-start; /* Align items to the top */
}

/* Horizontal Navigation CSS (for mobile and smaller screens) */
.horizontal-nav {
    display: none; /* Initially hidden, shown only when JavaScript toggles it */
    /* Your styles for mobile navigation */
    /* ... */
  }

.tech-container {
    color: rgba(17, 17, 17, 17);
}

body, footer {
    margin-bottom: 0;
    padding-bottom: 13px;
}

@-webkit-keyframes flicker { /* Safari and Chrome */
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@-moz-keyframes flicker { /* Firefox */
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@-o-keyframes flicker { /* Opera */
    0% { opacity: 1; }
    50% { opacity: 0.5;}
    100% { opacity: 1; }
}
    

@media (max-width: 768px) {

    .h1, .h2, .h3, h1, h2, h3 {
        scale: 65%;
    }
    .tab {
        margin: 5px 0; /* Adjust margin for stacked layout */
        font-size: 1.4rem;
        padding: 5px 8px;
    }

    .tabs {
        font-size: 2rem; /* Remove default margin */
    }
    html {
        font-size: 14px; /* Scales down the base font size for smaller screens */
    }

    body {
        margin: 0;
        padding:0;
    }
    
    header {
        width: 100%;
        padding-top: 1rem;
        margin: 0;
        top: 0;
        height: auto;
        position: relative;
    }

    footer .row {
        flex-direction: column;
    }

    .list-group-item {
        /* Full-width list items for better mobile interaction */
        width: 100%;
        /* Reduce the size of the box-shadow for a flatter design on mobile */
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
    
     /* Adjust list group margin on smaller screens */
     .list-group {
        margin: 20px 15px;
    }
    
    .card-navigation {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: sticky;
        align-items: stretch;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .nav-card {
        width: 100%;
        flex: 1;
        flex-direction: column;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0.2rem 0;
        padding: 0.5rem;
    }

    .nav-card:last-child {
        border-right: none;
    }

    .main-content {
        padding-left: 0;
    }

    .tech-container {
        grid-template-columns: 1fr;
    }

    .nav-menu-title {
        display: none;
    }

    .table, .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    

    .row {
        flex-direction: column;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #sidebar {
        display: none; /* Hide the sidebar on smaller screens */
      }
    
    .horizontal-nav {
        display: block; /* Show the horizontal navigation on smaller screens */
        /* Your styles for mobile navigation */
        /* ... */
      }
    }
    .table-title, .centered-table-title, .Left-Align-table-title, .section-headertwo {
        font-size: 24px; /* Smaller font size */
        margin-left:10px; /* Smaller margin */
    }
    .header-with-image-html h2, .header-with-image-css h2, .header-with-image-js h2 {
        font-size: 20px; /* Smaller font size */
    }
    
    .iconClass {
        width: 30px; /* Smaller image width */
        height: auto; /* Keep the aspect ratio of the image */
    }
    .header-with-image-js {
        justify-content: center; /* Center the items horizontally */
}


@media (hover: none) and (pointer: coarse) {
    .tab:hover .dropdown-content {
      display: none; /* Disable hover effect on touch devices */
}


@media (max-width: 480px) {
    .nav-card {
        width: 100%;
    }

    .tab {
        font-size: 0.875rem;
        padding: 0.5rem; 
        margin: 0.125rem;
    }

    .tabs {
        flex-direction: row;
    }
    
    .list-group-item {
        /* Even less shadow for a cleaner look on the smallest screens */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
