@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; 
}

@font-face {
    font-family: 'ShareTechMono';
    src: url('/fonts/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
}

@font-face {
    font-family: 'Audiowide';
    src: url('/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; /* Italic */
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; /* Italic */
}


@font-face {
    font-family: 'Exo2-Italic';
    src: url('/fonts/Exo2-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic; /* Italic */
}

@font-face {
    font-family: 'Exo2';
    src: url('/fonts/Exo2-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal; /* Normal style */
}

/* ... and so on for each font file */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900; /* Black weight */
    font-style: normal; /* Normal style */
}

/* ... continue for each Lato variant */

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('/fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
    font-weight: bold; /* Bold */
    font-style: normal; /* Normal style */
}

/* ... continue for each OpenSans Condensed variant */

@font-face {
    font-family: 'RobotoCondensed';
    src: url('/fonts/RobotoCondensed-Black.ttf') format('truetype');
    font-weight: 900; /* Black weight */
    font-style: normal; /* Normal style */
}

/* ... continue for each Roboto Condensed variant */

* {
    box-sizing: border-box; /* Better box sizing model */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset paddings */
}

button, .button-like {
    background-color: #333;
    color: #FFFFF0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .button-like:hover {
    background-color: #a1ff90; /*Matrix green on hover */
    color: #FFFFF0;
}

body {
    background-color: #f3f2f7;
    color: #333; /* A darker shade for better readability */
    font-size: 18px;
    font-family: "OpenSans Regular", "Helvetica Neue", Arial, sans-serif; /* A modern font stack */
    line-height: 1.5; /* Improved line spacing for readability */
    max-width: 1200px; /* Max width to control content width */
    margin: 0 auto; /* Center content on the page */
    padding: 18px; /* Uniform padding */
    background-attachment: fixed;
}

header {
    /*background-image: url(/images/MatrixSubtle.png);*/
    background-color: #333;
    background-size: cover;
    background-position: center;
    height: 250px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Align children to the center of the container */
    align-items: center; /* Center children horizontally */
    position: relative;
    padding-bottom: 10px; /* Reduced padding at the bottom */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 25px;
    overflow: hidden;
    
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.5); /* Increase to 50% for more darkness */
    z-index: -1;
    border radius: 25px;
}

header::after {
    content: '';
    position: absolute;
    top: 0px; /* Position the pseudo-element outside of the header */
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1; /* Position it behind the header content */
    border: 1px solid #78c978; /* A solid border for the glow effect */
    box-shadow:
        0 0 2px #78c978, /* Green glow */
        0 0 4px #78c978, /* Green glow larger radius */
        0 0 6px #78c978, /* Green glow even larger radius */ 
        0 0 8px #78c978; /* Green glow largest radius */
    pointer-events: none; /* Prevent the pseudo-element from blocking clicks */
    border radius: 25px;
}

.header-column {
    flex-grow: 1;
    padding: 10px;
}

.introduction-card {
    background-color: #ffffff; /* or any color you prefer */
    border-radius: 10px; /* rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* a subtle shadow */
    border: 1px solid black; 
    padding: 20px; /* space inside the card */
    margin: 15px 0; /* space outside the card */
    max-width: 800px; /* maximum width of the card */
    margin-left: auto; /* centering the card */
    margin-right: auto;
    font-family: 'OpenSans-Regular', sans-serif; /* keeping the font consistent with the body */
}


.intro-section {
    width: 95%; /* Same as header to maintain the alignment */
    margin-left: auto; /* Centers the content */
    margin-right: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; /* Centers the content */
}


.intro-section h1 {
    width: 98%; /* Same as header to maintain the alignment */
    margin-left: auto; /* Centers the content */
    margin-right: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; /* Centers the content */
}


.intro-section p {
    width: 95%;
    padding-left: 15px;
    text-align: left; /* Justify the introduction paragraph */
    align-items: left;
    max-width: 75%; /* Control the width of the paragraph */ /* Center the paragraph */
    line-height: 1.6;
    color: #333;
  }
  
.light-red {
    background-color: #f4cccc;
    /* Add any other styling you want for this class */
}

.light-orange {
    background-color: #fce5cd;
}

.light-yellow {
    background-color: #fff2cc;
}

.light-green {
    background-color: #d9ead3;
}

.light-blue {
    background-color: #c9daf8;
}

.light-purple {
    background-color: #d9d2e9;
}

.demo-wrap {
    position: relative;
}

.container-for-image {
    text-align: left; /* This will align the images inside to the left */
}

.img {
    width: 80px; /* or any size you want */
    height: auto;
    display: block; /* You can remove this if the image is inline with the text */
    margin: 0 auto 20px;
    max-width: 100%;

}

.tabs {
    display: flex;          /* Enables flexbox layout */
    justify-content: center; /* Centers items horizontally */
    align-items: center;     /* Aligns items vertically */
    text-align: center;
    position: absolute;      /* Position the nav at the bottom of the header */
    top: 120px;
    bottom: 0px;               /* Align to the bottom */
    left: 0;
    right: 0;
    padding: 10px 0;        /* Padding at top and bottom */
    background: none;       /* Remove background */
    z-index: 2;    
}

.tab {
    color: #f7f7f7; /* off white */
    text-shadow:
        0 0 2px #439243, /* Green glow */
        0 0 4px #439243, /* Green glow larger radius */
        0 0 6px #439243,
        0 0 8px #439243; /* Green glow even larger radius */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 20px; /* Add padding to increase clickable area */
    font-family: 'Lato', monospace;
    font-weight: bold;
    font-size: 35px; /* Adjust as needed */
    display: inline-block; /* Align tabs in a line */
    margin: 5px 44px;
    transition: all 0.2s ease; /* Smooth transition for the hover effect */
}

.tab:hover {
    text-decoration: none; /* Remove underline on hover */
    background-color: transparent; /* Optional: Add hover effect */
    color: #ccffbd;
    text-shadow:
        0 0 2px #47a347
        0 0 4px #439243, /* Green glow larger radius */
        0 0 6px #439243,
        0 0 8px #439243;/* Green glow even larger radius */
    transform: scale(1.1); /* Slightly enlarge the tab */
    transition: all 0.2s ease; /* Smooth transition for the hover effect */
}

nav a, .tab {
    color: #f7f7f7
}

nav.tabs {
    width: 100%; /* Full width to center tabs properly */
    text-align: center; /* Center the tab links */
    background: none; /* Remove background */
    padding: 10px 0; /* Padding at top and bottom */
    z-index: 2;
}

h1, h2, h3, p {
    color: #333; /* Dark color for headings */
    margin-top: 0;
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif; /* A modern font stack */
    line-height: 1.5; /* Improved line spacing for readability */
}

.title-matrix-code {
    font-family: 'Lato';
    color: #f7f7f7; 
    text-shadow:
        0 0 2px #439243, /* Green glow */
        0 0 4px #439243, /* Green glow larger radius */
        0 0 6px #439243, /* Green glow even larger radius */
        0 0 8px #439243; /* Green glow largest radius */
    font-size: 80px; /* Adjust as needed */
    z-index: 2;
    margin-top: 0px; /* Remove bottom margin to vertically center */
    margin-bottom: 115px;
    position: relative; /* Ensure the text is above the ::before overlay */
}

html {
    overflow-y: scroll;
}

.container { /* The parent element of header */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    line-height: 1.5;
}
  
h2 {
    font-size: 24px; /* More prominent size for section titles */
    margin-bottom: 20px; /* Increase space below the heading */
}
.tech-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    justify-content: center;
    align-items: start;
    margin-top: 1.5rem;
    border-radius: 20px;
  }

.tech-card {
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border: 1px solid black; 
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-card img {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
}
  
.tech-card h3 {
    margin-bottom: 0.5rem;
}
  
.tech-card p {
    color: #333;
    line-height: 1.6;
}

.tech-card {
    cursor: pointer; /* Change cursor to indicate clickable */
    position: relative; /* Positioning context for the tooltip */
}

.tech-card::after {
    content: attr(data-tooltip); /* Use the data attribute for the tooltip */
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    transition: opacity 0.3s;
}

.tech-card:hover::after {
    visibility: visible;
    opacity: 1;
}

.tech-header img {
    display: inline-block; /* Keep it inline with the text */
    width: 80px; /* Slightly larger images */
    height: auto;
    vertical-align: middle; 
    margin-right: 10px;/* Aligns image to the middle of the text */
}


.tech-header h2 {
    font-size: 1.5rem; /* Increase the size of the tech title */
    text-align: center;
    
}

.tech-header h2 {
    margin-right: 10px; /* Increase the size of the tech title */
    vertical-align: middle;
    
}

/* Style your paragraphs as needed */
p {
    margin: 0 0 20px 0;
    font-size: 18px; /* This makes the paragraph text size 16px as requested */
    color: #000000;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
    /* Add any additional styling for paragraphs here */
}

/* Adding a class for the section that holds HTML, CSS, JS overviews */
.section-overview {
    padding: 20px;
    margin-bottom: 2em; /* Add space between sections */
}

/* Highlighting titles with the theme color */
.section-overview h2 {
    color: #78c978; /* Green color to tie in with the header */
    margin-bottom: 0.5em;
}

.section-overview p {
    margin-top: 0;
    text-indent: 20px; /* Indent paragraphs for a classic look */
}

.section-header {
        font-weight: bold; /* This will make the text bold */
        font-size: 1em; /* You can adjust the size as needed */
        background-color: #333;
}
.table-title {
    font-family: "Lato", sans-serif; /* Your chosen font family */
    font-weight: bold;
    color: #333;
    font-size: 36px; /* Adjust the font size as needed */
    margin-left: 20px; /* And any other styles you want to apply */
}

.centered-table-title {
    font-family:"Lato";
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color:#333
}

.Left-Align-table-title {
    font-family:"Lato";
    text-align: left;
    font-weight: bold;
    color:#333
}

.Left-Align-table table {
    margin: 0 auto; /* Center the table horizontally */
    width: 100%; /* Adjust the width to content */
    border-collapse: collapse; /* Optional: for a cleaner look */
}

.Left-Align-table td {
    padding: 8px 12px;
    text-align: left; /* Center the content for single-column layout */
    border: 1px solid #ccc;
}

.Left-Align-table th, 
.Left-Align-table td {
    text-align: left; /* Aligns the text to the left inside cells */
    border: 1px solid #ccc; /* Sets the border color and size */
    padding: 8px; /* Sets the padding inside the cells */
}

.header-with-image-html {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items to the center horizontally */
    gap: 0;
}

.header-with-image-html h2 {
    margin-top: 0; /* Removes the top margin from the h2 element */
    margin-bottom: 0; /* Removes the bottom margin from the h2 element */
    /* Optionally, you can add some top margin to align it with the icon if needed */
}


.header-with-image-css {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items to the center of the container */
}

.header-with-image-css h2 {
    margin-top: 0; /* Removes the top margin from the h2 element */
    margin-bottom: 0; /* Removes the bottom margin from the h2 element */
    /* Optionally, you can add some top margin to align it with the icon if needed */
}


.header-with-image-js {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Align items to the center of the container */
}

.header-with-image-js h2 {
    margin-top: 0; /* Removes the top margin from the h2 element */
    margin-bottom: 0; /* Removes the bottom margin from the h2 element */
    /* Optionally, you can add some top margin to align it with the icon if needed */
}


.iconClass {
    width: 52px; /* Adjust the width as necessary */
    height: auto; /* Keep the aspect ratio of the image */
    margin: 0px;
}

.centered-table table {
    margin: 0 auto; /* Center the table horizontally */
    width: 100%; /* Adjust the width to content */
    border-collapse: collapse; /* Optional: for a cleaner look */
}

.centered-table td {
    padding: 8px 12px;
    text-align: center; /* Center the content for single-column layout */
    border: 1px solid #ccc;
}

.centered-table th, 
.centered-table td {
    text-align: left; /* Aligns the text to the left inside cells */
    border: 1px solid #ccc; /* Sets the border color and size */
    padding: 8px; /* Sets the padding inside the cells */
}

.section-headertwo {
    font-weight: bold; /* This will make the text bold */
    font-size: 1em;
    text-align: center; /* You can adjust the size as needed */
    
}

/* If there is a specific class or nth-child rule that targets columns, override them as well */
.centered-table tr td:first-child,
.centered-table tr td:nth-child(2) {
    text-align: center; /* Override any specific alignment for the first and second column */
}

/* If there is a specific class or nth-child rule that targets columns, override them as well */
.Left-Align-table tr td:first-child,
.Left-Align-table tr td:nth-child(2) {
    text-align: left; /* Override any specific alignment for the first and second column */
}

/* Sidebar Navigation */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px; /* Width of the sidebar */
    height: 100%;
    background-color: #333; /* Transparent background */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    z-index: 1000; /* High z-index to ensure it stays above other content */
    padding-top: 100px; /* Top padding - adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling for long menus */
}

/* Navigation Menu Title */
.nav-menu-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #f7f7f7; /* Dark color for contrast */
    margin-bottom: 20px; /* Space between title and links */
    padding: 0 15px; /* Horizontal padding */
}

/* Navigation Cards */
.card-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-card {
    background-color: #fff; /* Maintain background for individual cards */
    width: 90%; /* Relative width for better responsiveness */
    margin-bottom: 10px;
    padding: 15px 20px;
    text-decoration: none;
    color: #1a1a1a;
    text-align: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

}

.nav-card:hover, .nav-card:focus {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.nav-card.active {
    background-color: #007bff; /* Blue background for active state */
    color: #fff; /* White text for better visibility */
    font-weight: bold; /* Bold text for active link */
}

/* Style for the active section */
.active-section {
    background-color: #f2f2f2; /* Change to the desired highlight color */
}

/* Style for the active navigation link */
.active-nav-link {
    color: #3089e7; /* Change to the desired link color */
    font-weight: bold;
}

.intro-section ul {
    /* Remove the default padding on the left which causes the indentation */
    padding-left: 0;
}

.intro-section li {
    /* Add padding or margin to the left to align with the rest of the text */
    padding-left: 40px; /* Adjust this value as needed to align with your other text */
    /* Use 'text-indent' if you want to indent the first line of each list item */
    text-indent: -20px;
    /* Optionally, set the list-style-position to 'inside' if you want the bullet points to be within the flow of the text */
    list-style-position: inside;
}

.nav-card i.far.fa-circle-up {
    margin-left: 5px; /* Add some space between the text and the icon */
    /* Adjust the size of the icon if needed */
}

/* Increase the size of the "far fa-circle-up" icon */
.nav-card:first-child i.far.fa-circle-up {
    font-size: 24px; /* Adjust the font size as needed */
    padding-left: 5%;
}

/* Override PrismJS background */
pre[class*="language-"], code[class*="language-"] {
    background: none; /* Or use the default background color of your site */
    font-family: 'Lato', sans-serif; /* Replace with your font */
}

/* Ensure strong tags within Prism's code blocks are bold */
code[class*="language-"] strong {
    font-weight: bold !important; /* Force bold regardless of specificity */
}

/* Another attempt with even higher specificity */
pre[class*="language-"] code.language-html strong {
    font-weight: bold !important;
}

/* Ensure there's no color or other property negating the bold */
code[class*="language-"] strong {
    color: #000 !important; /* Use any color that makes the text visible */
    text-decoration: none !important; /* Remove if there's any decoration */
}


.footer {
    color: #7e858b; /* Modern footer text color */
    font-family: 'Lato', sans-serif; /* Change to your preferred font */
    padding: 20px 0; /* Vertical padding only to allow more horizontal space */
    text-align: center; /* Center align the text if it fits the design */
    font-size: 11px; /* Smaller font size */
}

.container {
    max-width: 1200px; /* Adjust to match the width of your content blocks */
    padding: 0 20px; /* Horizontal padding */
    margin: 0 auto; /* Center the container */
}

.row {
    display: flex;
    flex-wrap: wrap; /* Allow the footer content to wrap on small screens */
    justify-content: center; /* Center the columns for a more balanced look */
    align-items: flex-start; /* Align items to the top */
}

.footer-col {
    padding: 0 15px; /* Padding for columns */
    flex: 0 0 auto; /* Do not allow columns to grow and shrink as much */
    width: auto; /* Let the content define the width */
    max-width: 74%; /* Maximum width at 50% to allow text to extend horizontally */
}

.footer p {
    color: #444;
    font-size: 12px; /* Adjusted font size */
    opacity: 0.9; /* Slightly transparent for subtlety */
    text-align: left; /* Align text to the left for readability */
    max-width: 100%; /* Allow paragraph to fill the column width */
}

.footer h5 {
    font-size: 12px; /* Slightly larger font size for headers */
    margin-top: 0; /* Remove top margin from heading */
    margin-bottom: 10px; /* Space below heading */
    text-align: left; /* Align title to the left */
}

.footer-links {
    list-style: none; /* No bullets for links */
    padding-left: 0; /* No padding on the left */
    margin: 0; /* No margin for the list */
    text-align: left; /* Align links to the left */
}

.footer-links li {
    margin-bottom: 5px; /* Reduce space between list items */
}

.footer-links a {
    color: #007bff; /* Link color */
    text-decoration: none; /* No underline */
    transition: color 0.3s ease; /* Transition for hover effect */
    font-size: 12px; /* Match footer body text size */
}

.footer-links a:hover {
    color: #0056b3; /* Color change on hover */
}

@-webkit-keyframes flicker { /* Safari and Chrome */
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@-moz-keyframes flicker { /* Firefox */
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@-o-keyframes flicker { /* Opera */
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}
    

@media (max-width: 768px) {
    .title-matrix-code {
        font-size: 2.1875rem;
        padding: 0;
        margin: 0;
    }

    .tabs {
        position: relative;
        top: 0;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.3125rem 0;
        min-height: 3.125rem;
        overflow: auto;
    }
    
    .tab {
        font-size: 1.75rem;
        padding: 0.25rem 0.5rem;
        margin: 0.125rem;
    }

    header {
        width: 100%;
        padding: 0;
        margin: 0;
        height: auto;
    }

    .card-navigation {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        align-items: stretch;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .nav-card {
        width: 100%;
        flex: 1;
        flex-direction: column;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        padding: 0.0625rem;
    }


    .nav-card:last-child {
        border-right: none;
    }

    .main-content {
        padding-left: 0;
    }

    .tech-container {
        grid-template-columns: 1fr;
    }

    .nav-menu-title {
        display: none;
    }

    .table, .table-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .row {
        flex-direction: column;
    }

    .footer-col {
        margin-bottom: 10px;
        flex: none;
        max-width: none;
    }

    #sidebar {
        width: 100%;
        height: auto;
        padding: 15px 0;
    }
    .table-title, .centered-table-title, .Left-Align-table-title, .section-headertwo {
        font-size: 24px; /* Smaller font size */
        margin-left:10px; /* Smaller margin */
    }
    .header-with-image-html h2, .header-with-image-css h2, .header-with-image-js h2 {
        font-size: 20px; /* Smaller font size */
    }
    
    .iconClass {
        width: 30px; /* Smaller image width */
        height: auto; /* Keep the aspect ratio of the image */
    }
    .header-with-image-js {
        justify-content: center; /* Center the items horizontally */
    }

}

@media (max-width: 480px) {
    .nav-card {
        width: 100%;
    }

    .tab {
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
    }

    .tabs {
        flex-direction: row;
    }
}