@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; 
}

@font-face {
    font-family: 'ShareTechMono';
    src: url('/fonts/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: 400; /* Normal */
    font-style: normal;
}

@font-face {
    font-family: 'Audiowide';
    src: url('/fonts/Audiowide-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; /* Italic */
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal; /* Italic */
}


@font-face {
    font-family: 'Exo2-Italic';
    src: url('/fonts/Exo2-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: italic; /* Italic */
}

@font-face {
    font-family: 'Exo2';
    src: url('/fonts/Exo2-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal; /* Normal style */
}

/* ... and so on for each font file */
@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900; /* Black weight */
    font-style: normal; /* Normal style */
}

/* ... continue for each Lato variant */

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('/fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
    font-weight: bold; /* Bold */
    font-style: normal; /* Normal style */
}

/* ... continue for each OpenSans Condensed variant */

@font-face {
    font-family: 'RobotoCondensed';
    src: url('/fonts/RobotoCondensed-Black.ttf') format('truetype');
    font-weight: 900; /* Black weight */
    font-style: normal; /* Normal style */
}

/* ... continue for each Roboto Condensed variant */

* {
    box-sizing: border-box; /* Better box sizing model */
    margin: 0; /* Reset margins */
    padding: 0; /* Reset paddings */
}

button, .button-like {
    background-color: #333;
    color: #FFFFF0;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .button-like:hover {
    background-color: #a1ff90; /*Matrix green on hover */
    color: #FFFFF0;
}

body {
    background-color: #f7f7f7;
    color: #333; /* A darker shade for better readability */
    font-size: 18px;
    font-family: "OpenSans Regular", "Helvetica Neue", Arial, sans-serif; /* A modern font stack */
    line-height: 1.5; /* Improved line spacing for readability */
    max-width: 1200px; /* Max width to control content width */
    margin: 0 auto; /* Center content on the page */
    padding: 20px; /* Uniform padding */
    margin-bottom: 50px;
    background-attachment: fixed;
}

header {
    /*background-image: url(/images/MatrixSubtle.png);*/
    background-color: #1a1a1a;
    background-size: cover;
    background-position: center;
    height: 230px; /* Adjust the height as needed */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Align children to the center of the container */
    align-items: center; /* Center children horizontally */
    position: relative;
    padding-top: 10px; /* Reduced padding at the top */
    padding-bottom: 10px; /* Reduced padding at the bottom */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 95%;
    border-radius: 25px;
    overflow: hidden;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0.5); /* Increase to 50% for more darkness */
    z-index: -1;
    border radius: 25px;
}

header::after {
    content: '';
    position: absolute;
    top: 0px; /* Position the pseudo-element outside of the header */
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1; /* Position it behind the header content */
    border: 1px solid #78c978; /* A solid border for the glow effect */
    box-shadow:
        0 0 2px #78c978, /* Green glow */
        0 0 4px #78c978, /* Green glow larger radius */
        0 0 6px #78c978, /* Green glow even larger radius */ 
        0 0 8px #78c978; /* Green glow largest radius */
    pointer-events: none; /* Prevent the pseudo-element from blocking clicks */
    border radius: 25px;
}

.header-column {
    flex-grow: 1;
    padding: 10px;
}

.intro-section {
    width: 95%; /* Same as header to maintain the alignment */
    margin-left: auto; /* Centers the content */
    margin-right: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; /* Centers the content */
}


.intro-section h1 {
    width: 98%; /* Same as header to maintain the alignment */
    margin-left: auto; /* Centers the content */
    margin-right: auto;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; /* Centers the content */
}


.intro-section p {
    width: 95%;
    padding-left: 15px;
    text-align: left; /* Justify the introduction paragraph */
    align-items: left;
    max-width: 75%; /* Control the width of the paragraph */ /* Center the paragraph */
    
  }
  
.light-red {
    background-color: #f4cccc;
    /* Add any other styling you want for this class */
}

.light-orange {
    background-color: #fce5cd;
}

.light-yellow {
    background-color: #fff2cc;
}

.light-green {
    background-color: #d9ead3;
}

.light-blue {
    background-color: #c9daf8;
}

.light-purple {
    background-color: #d9d2e9;
}

.demo-wrap {
    position: relative;
}

.demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-image: url(/images/MatrixSubtle.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.demo-content {
    position: relative;
}

.container-for-image {
    text-align: left; /* This will align the images inside to the left */
}

.img {
    width: 80px; /* or any size you want */
    height: auto;
    display: block; /* You can remove this if the image is inline with the text */
    margin: 0 auto 20px;
    max-width: 100%;

}

.tabs {
    display: flex;          /* Enables flexbox layout */
    justify-content: space-around; /* Centers items horizontally */
    align-items: center;     /* Aligns items vertically */
    text-align: center;
    position: absolute;      /* Position the nav at the bottom of the header */
    top: 130px;
    bottom: 0px;               /* Align to the bottom */
    left: 0;
    right: 0;
    padding: 30px 0;        /* Padding at top and bottom */
    background: none;       /* Remove background */
    z-index: 2;
    margin: 0; /* Add relative positioning */     
}

.tab {
    color: #f7f7f7; /* off white */
    text-shadow:
        0 0 2px #439243, /* Green glow */
        0 0 4px #439243, /* Green glow larger radius */
        0 0 6px #439243,
        0 0 8px #439243; /* Green glow even larger radius */
    text-decoration: none; /* Remove underline from links */
    padding: 10px 20px; /* Add padding to increase clickable area */
    font-family: 'Lato', monospace;
    font-weight: bold;
    font-size: 36px; /* Adjust as needed */
    display: inline-block; /* Align tabs in a line */
    margin: 0 25px;
}

.tab:hover {
    text-decoration: none; /* Remove underline on hover */
    background-color: transparent; /* Optional: Add hover effect */
    color: #ccffbd;
    text-shadow:
        0 0 2px #47a347
        0 0 4px #439243, /* Green glow larger radius */
        0 0 6px #439243,
        0 0 8px #439243;/* Green glow even larger radius */
    transform: scale(1.1); /* Slightly enlarge the tab */
    transition: all 0.2s ease; /* Smooth transition for the hover effect */
}

nav a, .tab {
    color: #f7f7f7
}

nav.tabs {
    width: 100%; /* Full width to center tabs properly */
    text-align: center; /* Center the tab links */
    background: none; /* Remove background */
    padding: 10px 0; /* Padding at top and bottom */
    z-index: 2;
}

h1, h2, h3, p {
    color: #333; /* Dark color for headings */
    margin-top: 0;
    font-family: "Lato", "Helvetica Neue", Arial, sans-serif; /* A modern font stack */
    line-height: 1.5; /* Improved line spacing for readability */
}

.title-matrix-code {
    font-family: 'Lato';
    color: #f7f7f7; 
    text-shadow:
        0 0 2px #439243, /* Green glow */
        0 0 4px #439243, /* Green glow larger radius */
        0 0 6px #439243, /* Green glow even larger radius */
        0 0 8px #439243; /* Green glow largest radius */
    font-size: 78px; /* Adjust as needed */
    z-index: 2;
    margin-top: 0px; /* Remove bottom margin to vertically center */
    margin-bottom: 74px;
    position: relative; /* Ensure the text is above the ::before overlay */
}

html {
    overflow-y: scroll;
}

.container { /* The parent element of header */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    line-height: 1.5;
}
  
h2 {
    font-size: 24px; /* More prominent size for section titles */
    margin-bottom: 20px; /* Increase space below the heading */
}
.tech-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: start;
    margin-top: 1.5rem;
    border-radius: 20px;
  }

.tech-card {
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-card img {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
}
  
.tech-card h3 {
    margin-bottom: 0.5rem;
}
  
.tech-card p {
    color: #666;
}

.tech-card {
    cursor: pointer; /* Change cursor to indicate clickable */
    position: relative; /* Positioning context for the tooltip */
}

.tech-card::after {
    content: attr(data-tooltip); /* Use the data attribute for the tooltip */
    visibility: hidden;
    opacity: 0;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    transition: opacity 0.3s;
}

.tech-card:hover::after {
    visibility: visible;
    opacity: 1;
}

.tech-header img {
    display: inline-block; /* Keep it inline with the text */
    width: 80px; /* Slightly larger images */
    height: auto;
    vertical-align: middle; 
    margin-right: 10px;/* Aligns image to the middle of the text */
}


.tech-header h2 {
    font-size: 1.5rem; /* Increase the size of the tech title */
    text-align: center;
    
}

.tech-header h2 {
    margin-right: 10px; /* Increase the size of the tech title */
    vertical-align: middle;
    
}

/* Style your paragraphs as needed */
p {
    margin: 0 0 20px 0;
    font-size: 18px; /* This makes the paragraph text size 16px as requested */
    color: #000000;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
    /* Add any additional styling for paragraphs here */
}

/* Adding a class for the section that holds HTML, CSS, JS overviews */
.section-overview {
    padding: 20px;
    margin-bottom: 2em; /* Add space between sections */
}

/* Highlighting titles with the theme color */
.section-overview h2 {
    color: #78c978; /* Green color to tie in with the header */
    margin-bottom: 0.5em;
}

.section-overview p {
    margin-top: 0;
    text-indent: 20px; /* Indent paragraphs for a classic look */
}

.section-header {
        font-weight: bold; /* This will make the text bold */
        font-size: 1em; /* You can adjust the size as needed */
}
.table-title {
    font-family: "Lato", sans-serif; /* Your chosen font family */
    font-weight: bold;
    color: #36454F;
    font-size: 36px; /* Adjust the font size as needed */
    margin-left: 50px; /* And any other styles you want to apply */
}

.centered-table-title {
    font-family:"Lato";
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color:#36454F
}

.Left-Align-table-title {
    font-family:"Lato";
    text-align: left;
    font-weight: bold;
    color:#36454F
}

.Left-Align-table table {
    margin: 0 auto; /* Center the table horizontally */
    width: 100%; /* Adjust the width to content */
    border-collapse: collapse; /* Optional: for a cleaner look */
}

.Left-Align-table td {
    padding: 8px 12px;
    text-align: left; /* Center the content for single-column layout */
    border: 1px solid #ccc;
}

.Left-Align-table th, 
.Left-Align-table td {
    text-align: left; /* Aligns the text to the left inside cells */
    border: 1px solid #ccc; /* Sets the border color and size */
    padding: 8px; /* Sets the padding inside the cells */
}

.header-with-image-html {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the start of the container */
    margin-left: 20px;
}

.header-with-image-css {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the start of the container */
    margin-left: 20px;
}

.header-with-image-js {
    display: flex; /* Use flexbox to place items side by side */
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-start; /* Align items to the start of the container */
    margin-left: 20px;
}

.iconClass {
    width: 60px; /* Adjust the width as necessary */
    height: auto; /* Keep the aspect ratio of the image */
}

.centered-table table {
    margin: 0 auto; /* Center the table horizontally */
    width: 100%; /* Adjust the width to content */
    border-collapse: collapse; /* Optional: for a cleaner look */
}

.centered-table td {
    padding: 8px 12px;
    text-align: center; /* Center the content for single-column layout */
    border: 1px solid #ccc;
}

.centered-table th, 
.centered-table td {
    text-align: left; /* Aligns the text to the left inside cells */
    border: 1px solid #ccc; /* Sets the border color and size */
    padding: 8px; /* Sets the padding inside the cells */
}

.section-headertwo {
    font-weight: bold; /* This will make the text bold */
    font-size: 1em;
    text-align: center; /* You can adjust the size as needed */
    
}

/* If there is a specific class or nth-child rule that targets columns, override them as well */
.centered-table tr td:first-child,
.centered-table tr td:nth-child(2) {
    text-align: center; /* Override any specific alignment for the first and second column */
}

/* If there is a specific class or nth-child rule that targets columns, override them as well */
.Left-Align-table tr td:first-child,
.Left-Align-table tr td:nth-child(2) {
    text-align: left; /* Override any specific alignment for the first and second column */
}


.card-navigation {
    position: fixed;
    left: 5%; /* Adjust this value to place it horizontally where you want */
    z-index: 100; /* Ensure it's above other content */
    padding-top: 725px;
}

.nav-card {
    background-color: #fff; /* Card background color */
    width: 242px; /* Width of the cards */
    display: block; /* Stack cards vertically */
    text-decoration: none; /* Remove underline from links */
    color: #1a1a1a; /* Text color */
    text-align: center; /* Center text */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Smooth shadow */
    border: 2px solid black; 
    border-radius: 10px; /* Slightly rounded corners */
    padding: 15px 20px; /* Increased padding for more space */
    margin-bottom: 10px; /* Slightly more space between cards */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transitions for hover effects */
    font-weight: 500;

}

.nav-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
    transform: translateY(-2px); /* Slight lift on hover */
    /* Maintain solid color on hover for clean design */
}

.nav-card.active {
    border-left: 4px solid #007bff; /* Blue bar for active state */
    background: linear-gradient(to bottom right, #e9ecef, #dee2e6); /* Different gradient for active */
}

.nav-menu-title {
    opacity: 0.85;
    font-family: 'Lato', sans-serif;
    color: #333; /* Text color */
    font-size: 24px; /* Font size for the title */
    font-weight: bold; /* Font weight for the title */
    text-align: center; /* Center the text */
    position: fixed; /* Fixed position to stay in place during scroll */
    top: 20%; /* Position it above the nav cards, adjust 40px based on your actual title height */
    left: 11.7%; /* Center horizontally */
    transform: translateX(-50%); /* Align center */
    z-index: 101; /* Ensure it's above the nav cards */
    background: none; /* Background color for the title */
    padding-top: 445px; /* Padding around the text */
    margin-bottom: 0px; /* Space between title and nav cards */
    width: 11.7%; /* Width of the title to fit the nav cards */
}

/* Override PrismJS background */
pre[class*="language-"], code[class*="language-"] {
    background: none; /* Or use the default background color of your site */
    font-family: 'Lato', sans-serif; /* Replace with your font */
}

/* Ensure strong tags within Prism's code blocks are bold */
code[class*="language-"] strong {
    font-weight: bold !important; /* Force bold regardless of specificity */
}

/* Another attempt with even higher specificity */
pre[class*="language-"] code.language-html strong {
    font-weight: bold !important;
}

/* Ensure there's no color or other property negating the bold */
code[class*="language-"] strong {
    color: #000 !important; /* Use any color that makes the text visible */
    text-decoration: none !important; /* Remove if there's any decoration */
}

@-webkit-keyframes flicker { /* Safari and Chrome */
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@-moz-keyframes flicker { /* Firefox */
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@-o-keyframes flicker { /* Opera */
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

@media (max-width: 768px) {
    .tech-container {
        grid-template-columns: 1fr; /* Stacks cards in a single column on small screens */
    }
}

@media (max-width: 768px) {
    .card-navigation {
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .nav-card {
        width: auto;
        flex-grow: 1;
        padding: 10px;
        border-right: 1px solid #ccc; /* Add a border between items */
        border-radius: 0; /* Remove rounded corners for mobile */
    }

    .nav-card:last-child {
        border-right: none; /* Remove right border from the last item */
    }

    .main-content {
        padding-left: 0; /* Reset padding for mobile */
    }
}

@media (min-width: 1024px) {
    .card-navigation {
        position: fixed; /* Fixed positioning for larger screens */
        top: 21.5%;
        transform: translateY(-50%);
        left: calc((100% - 1740px) / 2); /* Adjust based on your content width */
    }

    .nav-menu-title {
        position: fixed; /* Fixed positioning for larger screens */
        top: 23.5%;
        transform: translate(-50%, -50%);
        left: calc((100% - 1500px) / 2); /* Adjust based on your content width */
    }
}